@import "../cssThemes/pink2.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background-25: 98%;
    /*  */
    --background: var(--background-50);
    --foreground: var(--background-900);
    --card: var(--background-100);
    --card-foreground: var(--text-900);
    --popover: var(--background-50);
    --popover-foreground: var(--background-900);
    --primary: var(--primary-100);
    --primary-foreground: var(--text-900);
    --secondary: var(--secondary-800);
    --secondary-foreground: var(--secondary-200);
    --muted: var(--secondary-50);
    --muted-foreground: var(--text-900);
    --accent: var(--accent-100);
    --accent-foreground: var(--accent-900);
    --destructive: var(--secondary-50);
    --destructive-foreground: var(--text-900);
    --border: var(--background-900);
    --input: var(--background-200);
    --ring: var(--background-200);
    --radius: 0.28rem;
    /*  */
    --background-bg: var(--background-50);
  }

  .dark {
    /*  */
    --background-25: 4%;
    --background: var(--background-50);
    --foreground: var(--background-900);
    --card: var(--background-100);
    --card-foreground: var(--text-900);
    --popover: var(--background-50);
    --popover-foreground: var(--background-900);
    --primary: var(--primary-100);
    --primary-foreground: var(--text-900);
    --secondary: var(--secondary-800);
    --secondary-foreground: var(--secondary-200);
    --muted: var(--secondary-50);
    --muted-foreground: var(--text-900);
    --accent: var(--accent-100);
    --accent-foreground: var(--accent-900);
    --destructive: var(--secondary-50);
    --destructive-foreground: var(--text-900);
    --border: var(--background-200);
    --input: var(--background-100);
    --ring: var(--background-100);
    --radius: 0.28rem;
  }

  * {
    @apply border-border font-sans;
  }
  body {
    @apply text-text-900 dark:text-text-900/80;
  }
}
main {
  @apply min-h-screen min-w-full bg-background   mx-auto gap-4 text-center !important;
}
.container {
  @apply w-full max-w-6xl flex flex-col min-h-screen pt-28;
}
nav {
  @apply fixed w-full z-40 top-0 left-0  bg-background  border-b border-border;
}
nav div:first-child:not(.userNavbarDiv > *) {
  @apply max-w-screen-xl flex flex-wrap items-center  justify-between mx-auto p-4 py-[0.5rem];
}

a {
  @apply hover:underline font-bold  !important;
  position: relative;
}
a.nunderline {
  @apply hover:no-underline  font-semibold !important;
}
a.special-uderline::after,
a.special-uderline-active::after {
  @apply rounded-full;
  content: "";
  position: absolute;
  bottom: -5px; /* Augmentez cette valeur pour espacer la ligne du texte */
  left: 0;
  width: 0;
  height: 3px;
  background-color: currentColor;
  transition: width 0.3s;
}

a.special-uderline:hover::after {
  width: 100%;
}

a.special-uderline-active::after {
  width: 100%;
  transition: none;
}

/* a.special-uderline-active {
  @apply text-app-700 dark:text-app-300 !important;
} */
/* Main Menu */
ul.main-menu {
  @apply flex flex-col p-4 lg:p-0 mt-4 font-medium border border-slate-100 rounded-lg  md:flex-row md:space-x-8 md:mt-0 lg:border-0   dark:border-slate-700 text-base;
}
div.main-menu {
  @apply items-center justify-between hidden w-full md:flex md:w-auto md:order-1;
}
ul.main-menu li a {
  @apply nunderline block py-2 pl-3  pr-4 rounded  md:p-0;
}
/* LOGO */
.logo {
  @apply flex font-bold items-center nunderline  gap-x-1 md:text-base text-xs;
}
.logo span {
  @apply self-center text-3xl whitespace-nowrap dark:text-white;
}

/* Burger Menu */
div.burger-menu {
  @apply -z-10 md:hidden absolute top-[4.5rem] left-0 w-full bg-app-200 dark:bg-slate-800 border-b-2 border-t-2 border-app-300;
}
div.burger-menu ul {
  @apply text-base w-full text-center;
}
div.burger-menu ul li a {
  @apply no-underline block w-full hover:no-underline py-4 px-2 text-base font-bold  hover:bg-app-100 lg:hover:bg-transparent lg:hover:text-app lg:p-0 lg:dark:hover:text-app-500 dark:text-white dark:hover:bg-slate-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-slate-700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply my-[1.63rem] dark:text-text-800/70 text-text-800 !important;
}
h1.title-page {
  @apply text-center  mb-14 !important;
}
h1 {
  @apply md:text-4xl text-3xl font-bold;
}

h2 {
  @apply md:text-2xl text-xl font-bold;
}

h3 {
  @apply md:text-xl text-lg font-bold;
}

h4 {
  @apply md:text-lg text-base font-bold;
}

h5 {
  @apply md:text-base text-sm font-bold;
}

h6 {
  @apply md:text-sm text-sm font-bold;
}

p {
  @apply md:text-[1.05rem]  text-base dark:text-text-950/70 text-text-800  my-1;
}
ul.ul {
  @apply list-disc list-inside mt-4 mb-4;
}
article p {
  @apply my-4 text-justify;
}
article em,
article i {
  @apply italic;
}
article strong,
article b {
  @apply font-bold;
}
article del {
  @apply line-through;
}
article blockquote {
  @apply border-l-4  rounded py-2 pl-4 italic my-4;
}
article ul {
  @apply list-disc list-inside mt-4 mb-4;
}
article ol {
  @apply list-decimal list-outside mt-1 mb-1 pl-5;
}

article li {
  @apply mb-2.5;
}

article li p {
  @apply inline;
}

/* article ol li {
  @apply flex flex-row;
} */

article img {
  @apply max-w-full h-auto my-4;
}
article pre {
  @apply bg-gray-100 p-4 rounded mt-4 mb-4;
}
article code {
  @apply text-sm bg-gray-100 rounded p-1;
}

article hr {
  @apply border-t border-gray-300 my-8;
}
article table {
  @apply w-full border-collapse my-4;
}
article th,
article td {
  @apply border border-gray-300 px-4 py-2;
}
article .task-list-item {
  @apply list-none list-inside;
}

div.progressTokenVoid {
  @apply w-full   absolute z-10 rounded-full h-2 p-0 -mt-1 bg-secondary-foreground !important;
}
div.progressToken {
  @apply bg-secondary h-2 p-0 z-20 rounded-full absolute -mt-1 !important;
  transition: width 2s ease-in-out; /* 0.5s est la durée de la transition */
}
.userNavbarDiv {
  @apply p-0 m-0 px-0 py-0 my-0 !important;
}
.userNavbarDiv div {
  @apply p-3;
}
.shadcnButtonSize-default {
  @apply h-10 px-4 py-2;
}
.shadcnButton {
  @apply inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
}
.shadcnButton-default {
  @apply bg-primary/100 h-10 px-4 py-2  hover:bg-primary/80 inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
}
.shadcnButton-outline {
  @apply inline-flex h-10 px-4 py-2 items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50  hover:bg-accent hover:text-accent-foreground;
}
.shadcnButton-ghost {
  @apply shadcnButton hover:bg-accent hover:text-accent-foreground;
}

/*  */
.downloadPdfButton {
  @apply shadcnButton-ghost shadcnButtonSize-default  w-full justify-start cursor-pointer  flex flex-row items-center gap-x-2 !important;
}
.downloadPdfButton svg {
  @apply w-5 h-5 mr-2;
}
/* SECTION : TOOLTIP */

.tooltip {
  @apply bg-secondary-foreground  rounded-md  text-accent-foreground  text-base px-2 py-1 z-50 max-w-xs !important;
}

/** Types variant **/
.dark {
  background: var(--rt-color-dark);
  color: var(--rt-color-white);
}

.light {
  background-color: var(--rt-color-white);
  color: var(--rt-color-dark);
}

.success {
  background-color: var(--rt-color-success);
  color: var(--rt-color-white);
}

.tooltip.warning {
  @apply bg-orange-500 text-orange-50 bg-opacity-100 !important;
}

.error {
  background-color: var(--rt-color-error);
  color: var(--rt-color-white);
}

.info {
  @apply bg-blue-500 text-blue-50 bg-opacity-100 !important;
}

label {
  @apply flex flex-row justify-between items-center px-1 mb-1 font-bold cursor-pointer !important;
}
.infoForm {
  @apply text-left text-xs opacity-70;
}

button {
  @apply focus:ring-0 !important;
}
.ring-offset-2 {
  @apply focus-visible:ring-offset-1 border-primary !important;
}

.pdfNavigationButton {
  @apply flex flex-col absolute md:-right-14 -right-[2.8rem] top-3;
}
a.pdf-navigation {
  @apply hover:no-underline cursor-pointer opacity-80 hover:opacity-100 font-semibold pb-2 !important;
}
.editor-class,
.rdw-editor-main {
  @apply p-0 m-0 !important;
  overflow: unset !important;
}
/* SECTION --> Toastify */

.Toastify__toast-container {
  @apply rounded-sm z-[99999] !important;
}
.Toastify__toast {
  @apply rounded-xl !important;
}
.Toastify__toast--rtl {
  @apply rounded-xl !important;
}
.Toastify__toast-body {
  @apply rounded-xl !important;
}
.Toastify__toast-theme--dark {
  @apply bg-primary;
}
/* .Toastify__toast-theme--light {
} */
.Toastify__toast-theme--colored.Toastify__toast--default {
  @apply bg-primary rounded-md  border-border !important;
}
.Toastify__toast-theme--colored.Toastify__toast--info {
  @apply bg-primary-foreground dark:bg-primary border-border rounded-md !important;
}
.Toastify__toast-theme--colored.Toastify__toast--success {
  @apply bg-primary-foreground dark:bg-primary text-text-100 dark:text-text-900 rounded-sm !important;
}
.Toastify__toast-theme--colored.Toastify__toast--warning {
  @apply bg-yellow-600 rounded-sm !important;
}
.Toastify__toast-theme--colored.Toastify__toast--error {
  @apply bg-red-600 rounded-sm !important;
}