@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-app1: theme("colors.app.50");
    --color-app2: theme("colors.app.100");
    --color-app3: theme("colors.app.200");
    --color-app4: theme("colors.app.300");
    --color-app5: theme("colors.app.400");
    --color-app6: theme("colors.app.500");
    --color-app7: theme("colors.app.600");
    --color-app8: theme("colors.app.700");
    --color-app9: theme("colors.app.800");
    --color-app10: theme("colors.app.900");
    --color-app11: theme("colors.app.950");

    --color-secondary1: theme("colors.secondary.50");
    --color-secondary2: theme("colors.secondary.100");
    --color-secondary3: theme("colors.secondary.200");
    --color-secondary4: theme("colors.secondary.300");
    --color-secondary5: theme("colors.secondary.400");
    --color-secondary6: theme("colors.secondary.500");
    --color-secondary7: theme("colors.secondary.600");
    --color-secondary8: theme("colors.secondary.700");
    --color-secondary9: theme("colors.secondary.800");
    --color-secondary10: theme("colors.secondary.900");
    --color-secondary11: theme("colors.secondary.950");

    --color-apprgba1: theme("colors.apprgba.50");
    --color-apprgba2: theme("colors.apprgba.100");
    --color-apprgba3: theme("colors.apprgba.200");
    --color-apprgba4: theme("colors.apprgba.300");
    --color-apprgba5: theme("colors.apprgba.400");
    --color-apprgba6: theme("colors.apprgba.500");
    --color-apprgba7: theme("colors.apprgba.600");
    --color-apprgba8: theme("colors.apprgba.700");
    --color-apprgba9: theme("colors.apprgba.800");
    --color-apprgba10: theme("colors.apprgba.900");
    --color-apprgba11: theme("colors.apprgba.950");

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: hls(210 40% 96.1%);
    --secondary-foreground: hls(222.2 47.4% 11.2%);

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --color-app1: theme("colors.app.950");
    --color-app2: theme("colors.app.900");
    --color-app3: theme("colors.app.800");
    --color-app4: theme("colors.app.700");
    --color-app5: theme("colors.app.600");
    --color-app6: theme("colors.app.500");
    --color-app7: theme("colors.app.400");
    --color-app8: theme("colors.app.300");
    --color-app9: theme("colors.app.200");
    --color-app10: theme("colors.app.100");
    --color-app11: theme("colors.app.50");

    --color-secondary1: theme("colors.secondary.950");
    --color-secondary2: theme("colors.secondary.900");
    --color-secondary3: theme("colors.secondary.800");
    --color-secondary4: theme("colors.secondary.700");
    --color-secondary5: theme("colors.secondary.600");
    --color-secondary6: theme("colors.secondary.500");
    --color-secondary7: theme("colors.secondary.400");
    --color-secondary8: theme("colors.secondary.300");
    --color-secondary9: theme("colors.secondary.200");
    --color-secondary10: theme("colors.secondary.100");
    --color-secondary11: theme("colors.secondary.50");

    --color-apprgba1: theme("colors.apprgba.950");
    --color-apprgba2: theme("colors.apprgba.900");
    --color-apprgba3: theme("colors.apprgba.800");
    --color-apprgba4: theme("colors.apprgba.700");
    --color-apprgba5: theme("colors.apprgba.600");
    --color-apprgba6: theme("colors.apprgba.500");
    --color-apprgba7: theme("colors.apprgba.400");
    --color-apprgba8: theme("colors.apprgba.300");
    --color-apprgba9: theme("colors.apprgba.200");
    --color-apprgba10: theme("colors.apprgba.100");
    --color-apprgba11: theme("colors.apprgba.50");

    --color-app-hsl-50: hsl(210, 1.59%, 98.82%);
    --color-app-hsl-100: hsl(210, 3.21%, 97.65%);
    --color-app-hsl-200: hsl(214.29, 5.83%, 94.12%);
    --color-app-hsl-300: hsl(212.73, 9.78%, 88.24%);
    --color-app-hsl-400: hsl(215, 19.57%, 72.16%);
    --color-app-hsl-500: hsl(215.38, 28.06%, 54.51%);
    --color-app-hsl-600: hsl(215.29, 32.38%, 41.18%);
    --color-app-hsl-700: hsl(215.29, 40%, 33.33%);
    --color-app-hsl-800: hsl(217.24, 49.15%, 23.14%);
    --color-app-hsl-900: hsl(222.22, 64.29%, 16.47%);
    --color-app-hsl-950: hsl(228.57, 91.3%, 9.02%);

    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    /* --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%; */

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

.dark .text-secondary {
  @apply text-secondary-500 !important;
}

@layer base {
  * {
    @apply border-border font-sans;
  }
  body {
    @apply bg-background text-foreground;
  }
}
main {
  @apply min-h-screen min-w-full  mx-auto gap-4 text-center bg-app-100 dark:bg-app-950 ;
}
.container {
  @apply w-full max-w-6xl flex flex-col min-h-screen pt-28 justify-center items-center;
}
nav {
  @apply bg-app-50 dark:bg-app-900 fixed w-full z-20 top-0 left-0  border-b dark:border-app-800  dark:shadow-app-900  ;
}
nav div:first-child:not(.userNavbarDiv > *) {
  @apply max-w-screen-xl flex flex-wrap items-center  justify-between mx-auto p-4 py-[0.5rem];
}

a {
  @apply hover:underline text-app font-bold dark:text-app-300 !important;
  position: relative;
}
a.nunderline {
  @apply hover:no-underline dark:hover:text-app-300 hover:text-app-700 text-app-900 dark:text-app-50 font-semibold !important;
}
a.special-uderline::after,
a.special-uderline-active::after {
  @apply rounded-full;
  content: "";
  position: absolute;
  bottom: -5px; /* Augmentez cette valeur pour espacer la ligne du texte */
  left: 0;
  width: 0;
  height: 3px;
  background-color: currentColor;
  transition: width 0.3s;
}

a.special-uderline:hover::after {
  width: 100%;
}

a.special-uderline-active::after {
  width: 100%;
  transition: none;
}

a.special-uderline-active {
  @apply text-app-700 dark:text-app-300 !important;
}
/* Main Menu */
ul.main-menu {
  @apply flex flex-col p-4 lg:p-0 mt-4 font-medium border border-slate-100 rounded-lg  md:flex-row md:space-x-8 md:mt-0 lg:border-0   dark:border-slate-700 text-base;
}
div.main-menu {
  @apply items-center justify-between hidden w-full md:flex md:w-auto md:order-1;
}
ul.main-menu li a {
  @apply nunderline block py-2 pl-3  pr-4 rounded   md:hover:text-app md:p-0 md:dark:hover:text-app-500 dark:text-white  dark:hover:text-white   dark:border-slate-700;
}
/* LOGO */
.logo {
  @apply flex font-bold items-center nunderline  gap-x-1 md:text-base text-xs;
}
.logo span {
  @apply self-center text-3xl whitespace-nowrap dark:text-white;
}

/* Burger Menu */
div.burger-menu {
  @apply -z-10 md:hidden absolute top-[4.5rem] left-0 w-full bg-app-200 dark:bg-slate-800 border-b-2 border-t-2 border-app-300;
}
div.burger-menu ul {
  @apply text-base w-full text-center;
}
div.burger-menu ul li a {
  @apply no-underline block w-full hover:no-underline py-4 px-2 text-base font-bold  hover:bg-app-100 lg:hover:bg-transparent lg:hover:text-app lg:p-0 lg:dark:hover:text-app-500 dark:text-white dark:hover:bg-slate-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-slate-700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply my-[1.63rem] dark:text-app-300;
}
h1.title-page {
  @apply text-center  mb-14 !important;
}
h1 {
  @apply md:text-4xl text-3xl font-bold;
}

h2 {
  @apply md:text-2xl text-xl font-bold;
}

h3 {
  @apply md:text-xl text-lg font-bold;
}

h4 {
  @apply md:text-lg text-base font-bold;
}

h5 {
  @apply md:text-base text-sm font-bold;
}

h6 {
  @apply md:text-sm text-sm font-bold;
}

p {
  @apply md:text-[1.05rem]  text-base  my-1 text-app-950 dark:text-app-400;
}
ul.ul {
  @apply list-disc list-inside mt-4 mb-4;
}
article p {
  @apply my-4 text-justify;
}
article em,
article i {
  @apply italic;
}
article strong,
article b {
  @apply font-bold;
}
article del {
  @apply line-through;
}
article blockquote {
  @apply border-l-4 border-app-300 bg-app-50 rounded py-2 pl-4 italic my-4;
}
article ul {
  @apply list-disc list-inside mt-4 mb-4;
}
article ol {
  @apply list-decimal list-outside mt-1 mb-1 pl-5;
}

article li {
  @apply mb-2.5 text-app-950 dark:text-app-400;
}

article li p {
  @apply inline;
}

/* article ol li {
  @apply flex flex-row;
} */

article a {
  @apply text-app-700;
}
article img {
  @apply max-w-full h-auto my-4;
}
article pre {
  @apply bg-gray-100 p-4 rounded mt-4 mb-4;
}
article code {
  @apply text-sm bg-gray-100 rounded p-1;
}

article hr {
  @apply border-t border-gray-300 my-8;
}
article table {
  @apply w-full border-collapse my-4;
}
article th,
article td {
  @apply border border-gray-300 px-4 py-2;
}
article .task-list-item {
  @apply list-none list-inside;
}

div.progressTokenVoid {
  @apply w-full  bg-app-200 absolute z-10 rounded-full h-2 p-0 -mt-1 dark:bg-app-700 !important;
}
div.progressToken {
  @apply bg-secondary-500 h-2 p-0 z-20 rounded-full absolute -mt-1 !important;
  transition: width 2s ease-in-out; /* 0.5s est la durée de la transition */
}
.userNavbarDiv {
  @apply p-0 m-0 px-0 py-0 my-0 !important;
}
.userNavbarDiv div {
  @apply p-3;
}
.shadcnButtonSize-default {
  @apply h-10 px-4 py-2;
}
.shadcnButton {
  @apply inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
}
.shadcnButton-default {
  @apply bg-primary h-10 px-4 py-2 text-primary-foreground hover:bg-primary/80 inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
}
.shadcnButton-outline {
  @apply inline-flex h-10 px-4 py-2 items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50  hover:bg-accent hover:text-accent-foreground ;
}
.shadcnButton-ghost {
  @apply shadcnButton hover:bg-accent hover:text-accent-foreground;
}

/*  */
.downloadPdfButton {
  @apply shadcnButton-ghost shadcnButtonSize-default w-full justify-start cursor-pointer  flex flex-row items-center gap-x-2 !important;
}
.downloadPdfButton svg {
  @apply w-5 h-5 mr-2;
}
/* NOTE : TOOLTIP */

.tooltip {
  @apply bg-app-200 dark:bg-app-700 rounded-md dark:text-app-50 text-app-800 text-sm px-2 py-1 z-50 max-w-screen-sm !important;
}


/** Types variant **/
.dark {
  background: var(--rt-color-dark);
  color: var(--rt-color-white);
}

.light {
  background-color: var(--rt-color-white);
  color: var(--rt-color-dark);
}

.success {
  background-color: var(--rt-color-success);
  color: var(--rt-color-white);
}

.warning {
  background-color: var(--rt-color-warning);
  color: var(--rt-color-white);
}

.error {
  background-color: var(--rt-color-error);
  color: var(--rt-color-white);
}

.info {
  background-color: var(--rt-color-info);
  color: var(--rt-color-white);
}
