    :root {
      --text-50: 0 0% 95%;
      --text-100: 0 0% 90%;
      --text-200: 0 0% 80%;
      --text-300: 0 0% 70%;
      --text-400: 0 0% 60%;
      --text-500: 0 0% 50%;
      --text-600: 0 0% 40%;
      --text-700: 0 0% 30%;
      --text-800: 0 0% 20%;
      --text-900: 0 0% 10%;
      --text-950: 0 0% 5%;
      
      --background-50: 70 92% var(--background-25);
      --background-100: 69 88% 90%;
      --background-200: 70 90% 80%;
      --background-300: 70 90% 70%;
      --background-400: 70 90% 60%;
      --background-500: 70 90% 50%;
      --background-600: 70 90% 40%;
      --background-700: 70 90% 30%;
      --background-800: 70 90% 20%;
      --background-900: 69 88% 10%;
      --background-950: 70 92% 5%;
      
      --primary-50: 250 92% 95%;
      --primary-100: 251 88% 90%;
      --primary-200: 251 90% 80%;
      --primary-300: 251 90% 70%;
      --primary-400: 251 90% 60%;
      --primary-500: 251 90% 50%;
      --primary-600: 251 90% 40%;
      --primary-700: 251 90% 30%;
      --primary-800: 251 90% 20%;
      --primary-900: 251 88% 10%;
      --primary-950: 250 92% 5%;
      
      --secondary-50: 279 92% 95%;
      --secondary-100: 280 88% 90%;
      --secondary-200: 280 90% 80%;
      --secondary-300: 280 90% 70%;
      --secondary-400: 280 90% 60%;
      --secondary-500: 280 90% 50%;
      --secondary-600: 280 90% 40%;
      --secondary-700: 280 90% 30%;
      --secondary-800: 280 90% 20%;
      --secondary-900: 280 88% 10%;
      --secondary-950: 282 92% 5%;
      
      --accent-50: 222 92% 95%;
      --accent-100: 221 88% 90%;
      --accent-200: 221 90% 80%;
      --accent-300: 221 90% 70%;
      --accent-400: 221 90% 60%;
      --accent-500: 221 90% 50%;
      --accent-600: 221 90% 40%;
      --accent-700: 221 90% 30%;
      --accent-800: 221 90% 20%;
      --accent-900: 221 88% 10%;
      --accent-950: 219 92% 5%;
      
    }
    .dark {
      --text-50: 0 0% 5%;
      --text-100: 0 0% 10%;
      --text-200: 0 0% 20%;
      --text-300: 0 0% 30%;
      --text-400: 0 0% 40%;
      --text-500: 0 0% 50%;
      --text-600: 0 0% 60%;
      --text-700: 0 0% 70%;
      --text-800: 0 0% 80%;
      --text-900: 0 0% 90%;
      --text-950: 0 0% 95%;
      
      --background-50: 70 92% var(--background-25);
      --background-100: 69 88% 10%;
      --background-200: 70 90% 20%;
      --background-300: 70 90% 30%;
      --background-400: 70 90% 40%;
      --background-500: 70 90% 50%;
      --background-600: 70 90% 60%;
      --background-700: 70 90% 70%;
      --background-800: 70 90% 80%;
      --background-900: 69 88% 90%;
      --background-950: 70 92% 95%;
      
      --primary-50: 250 92% 5%;
      --primary-100: 251 88% 10%;
      --primary-200: 251 90% 20%;
      --primary-300: 251 90% 30%;
      --primary-400: 251 90% 40%;
      --primary-500: 251 90% 50%;
      --primary-600: 251 90% 60%;
      --primary-700: 251 90% 70%;
      --primary-800: 251 90% 80%;
      --primary-900: 251 88% 90%;
      --primary-950: 250 92% 95%;
      
      --secondary-50: 282 92% 5%;
      --secondary-100: 280 88% 10%;
      --secondary-200: 280 90% 20%;
      --secondary-300: 280 90% 30%;
      --secondary-400: 280 90% 40%;
      --secondary-500: 280 90% 50%;
      --secondary-600: 280 90% 60%;
      --secondary-700: 280 90% 70%;
      --secondary-800: 280 90% 80%;
      --secondary-900: 280 88% 90%;
      --secondary-950: 279 92% 95%;
      
      --accent-50: 219 92% 5%;
      --accent-100: 221 88% 10%;
      --accent-200: 221 90% 20%;
      --accent-300: 221 90% 30%;
      --accent-400: 221 90% 40%;
      --accent-500: 221 90% 50%;
      --accent-600: 221 90% 60%;
      --accent-700: 221 90% 70%;
      --accent-800: 221 90% 80%;
      --accent-900: 221 88% 90%;
      --accent-950: 222 92% 95%;
      
    }
  