    :root {
      --text-50: 200 12% 95%;
      --text-100: 197 14% 90%;
      --text-200: 200 12% 80%;
      --text-300: 199 12% 70%;
      --text-400: 200 12% 60%;
      --text-500: 199 12% 50%;
      --text-600: 200 12% 40%;
      --text-700: 199 12% 30%;
      --text-800: 200 12% 20%;
      --text-900: 197 14% 10%;
      --text-950: 200 12% 5%;
      
      --background-50: 0 0%  var(--background-25);
      --background-100: 0 0% 90%;
      --background-200: 0 0% 80%;
      --background-300: 0 0% 70%;
      --background-400: 0 0% 60%;
      --background-500: 0 0% 50%;
      --background-600: 0 0% 40%;
      --background-700: 0 0% 30%;
      --background-800: 0 0% 20%;
      --background-900: 0 0% 10%;
      --background-950: 0 0% 5%;
      
      --primary-50: 240 12% 95%;
      --primary-100: 231 14% 90%;
      --primary-200: 235 12% 80%;
      --primary-300: 234 12% 70%;
      --primary-400: 233 12% 60%;
      --primary-500: 232 12% 50%;
      --primary-600: 233 12% 40%;
      --primary-700: 234 12% 30%;
      --primary-800: 235 12% 20%;
      --primary-900: 231 14% 10%;
      --primary-950: 220 12% 5%;
      
      --secondary-50: 20 12% 95%;
      --secondary-100: 26 14% 90%;
      --secondary-200: 25 12% 80%;
      --secondary-300: 22 12% 70%;
      --secondary-400: 22 12% 60%;
      --secondary-500: 23 12% 50%;
      --secondary-600: 22 12% 40%;
      --secondary-700: 22 12% 30%;
      --secondary-800: 25 12% 20%;
      --secondary-900: 26 14% 10%;
      --secondary-950: 20 12% 5%;
      
      --accent-50: 60 12% 95%;
      --accent-100: 51 14% 90%;
      --accent-200: 55 12% 80%;
      --accent-300: 54 12% 70%;
      --accent-400: 58 12% 60%;
      --accent-500: 56 12% 50%;
      --accent-600: 57 12% 40%;
      --accent-700: 54 12% 30%;
      --accent-800: 55 12% 20%;
      --accent-900: 51 14% 10%;
      --accent-950: 60 12% 5%;
      
    }
    .dark {
      --text-50: 200 12% 5%;
      --text-100: 197 14% 10%;
      --text-200: 200 12% 20%;
      --text-300: 199 12% 30%;
      --text-400: 200 12% 40%;
      --text-500: 199 12% 50%;
      --text-600: 200 12% 60%;
      --text-700: 199 12% 70%;
      --text-800: 200 12% 80%;
      --text-900: 197 14% 90%;
      --text-950: 200 12% 95%;
      
      --background-50: 0 0%  var(--background-25);
      --background-100: 0 0% 10%;
      --background-200: 0 0% 20%;
      --background-300: 0 0% 30%;
      --background-400: 0 0% 40%;
      --background-500: 0 0% 50%;
      --background-600: 0 0% 60%;
      --background-700: 0 0% 70%;
      --background-800: 0 0% 80%;
      --background-900: 0 0% 90%;
      --background-950: 0 0% 95%;
      
      --primary-50: 220 12% 5%;
      --primary-100: 231 14% 10%;
      --primary-200: 235 12% 20%;
      --primary-300: 234 12% 30%;
      --primary-400: 233 12% 40%;
      --primary-500: 232 12% 50%;
      --primary-600: 233 12% 60%;
      --primary-700: 234 12% 70%;
      --primary-800: 235 12% 80%;
      --primary-900: 231 14% 90%;
      --primary-950: 240 12% 95%;
      
      --secondary-50: 20 12% 5%;
      --secondary-100: 26 14% 10%;
      --secondary-200: 20 12% 20%;
      --secondary-300: 22 12% 30%;
      --secondary-400: 22 12% 40%;
      --secondary-500: 21 12% 50%;
      --secondary-600: 22 12% 60%;
      --secondary-700: 22 12% 70%;
      --secondary-800: 20 12% 80%;
      --secondary-900: 26 14% 90%;
      --secondary-950: 20 12% 95%;
      
      --accent-50: 60 12% 5%;
      --accent-100: 51 14% 10%;
      --accent-200: 55 12% 20%;
      --accent-300: 54 12% 30%;
      --accent-400: 57 12% 40%;
      --accent-500: 56 12% 50%;
      --accent-600: 58 12% 60%;
      --accent-700: 54 12% 70%;
      --accent-800: 55 12% 80%;
      --accent-900: 51 14% 90%;
      --accent-950: 60 12% 95%;
      
    }
