    :root {
      --text-50: 215 92% 95%;
      --text-100: 216 92% 90%;
      --text-200: 216 92% 80%;
      --text-300: 216 93% 70%;
      --text-400: 216 93% 60%;
      --text-500: 216 93% 50%;
      --text-600: 216 93% 40%;
      --text-700: 216 93% 30%;
      --text-800: 216 92% 20%;
      --text-900: 216 92% 10%;
      --text-950: 218 92% 5%;
      
      --background-50: 275 92% var(--background-25);
      --background-100: 274 92% 90%;
      --background-200: 274 92% 80%;
      --background-300: 274 93% 70%;
      --background-400: 274 93% 60%;
      --background-500: 274 93% 50%;
      --background-600: 274 93% 40%;
      --background-700: 274 93% 30%;
      --background-800: 274 92% 20%;
      --background-900: 274 92% 10%;
      --background-950: 273 92% 5%;
      
      --primary-50: 227 92% 95%;
      --primary-100: 227 92% 90%;
      --primary-200: 227 92% 80%;
      --primary-300: 227 92% 70%;
      --primary-400: 227 92% 60%;
      --primary-500: 227 92% 50%;
      --primary-600: 227 92% 40%;
      --primary-700: 227 92% 30%;
      --primary-800: 227 92% 20%;
      --primary-900: 227 92% 10%;
      --primary-950: 227 92% 5%;
      
      --secondary-50: 280 92% 95%;
      --secondary-100: 280 92% 90%;
      --secondary-200: 279 92% 80%;
      --secondary-300: 279 93% 70%;
      --secondary-400: 279 93% 60%;
      --secondary-500: 279 93% 50%;
      --secondary-600: 279 93% 40%;
      --secondary-700: 279 93% 30%;
      --secondary-800: 279 92% 20%;
      --secondary-900: 280 92% 10%;
      --secondary-950: 278 92% 5%;
      
      --accent-50: 293 100% 95%;
      --accent-100: 292 100% 90%;
      --accent-200: 292 100% 80%;
      --accent-300: 292 100% 70%;
      --accent-400: 292 100% 60%;
      --accent-500: 292 100% 50%;
      --accent-600: 292 100% 40%;
      --accent-700: 292 100% 30%;
      --accent-800: 292 100% 20%;
      --accent-900: 292 100% 10%;
      --accent-950: 291 100% 5%;
      
    }
    .dark {
      --text-50: 215 92% 5%;
      --text-100: 214 92% 10%;
      --text-200: 215 94% 20%;
      --text-300: 215 93% 30%;
      --text-400: 215 94% 40%;
      --text-500: 215 94% 50%;
      --text-600: 215 94% 60%;
      --text-700: 215 93% 70%;
      --text-800: 215 94% 80%;
      --text-900: 214 92% 90%;
      --text-950: 215 92% 95%;
      
      --background-50: 273 92% var(--background-25);
      --background-100: 273 92% 10%;
      --background-200: 273 94% 20%;
      --background-300: 273 93% 30%;
      --background-400: 273 94% 40%;
      --background-500: 273 94% 50%;
      --background-600: 273 94% 60%;
      --background-700: 273 93% 70%;
      --background-800: 273 94% 80%;
      --background-900: 273 92% 90%;
      --background-950: 272 92% 95%;
      
      --primary-50: 227 92% 5%;
      --primary-100: 227 92% 10%;
      --primary-200: 227 92% 20%;
      --primary-300: 227 92% 30%;
      --primary-400: 227 92% 40%;
      --primary-500: 227 92% 50%;
      --primary-600: 227 92% 60%;
      --primary-700: 227 92% 70%;
      --primary-800: 227 92% 80%;
      --primary-900: 227 92% 90%;
      --primary-950: 227 92% 95%;
      
      --secondary-50: 278 92% 5%;
      --secondary-100: 280 92% 10%;
      --secondary-200: 279 92% 20%;
      --secondary-300: 279 93% 30%;
      --secondary-400: 279 93% 40%;
      --secondary-500: 279 93% 50%;
      --secondary-600: 279 93% 60%;
      --secondary-700: 279 93% 70%;
      --secondary-800: 279 92% 80%;
      --secondary-900: 280 92% 90%;
      --secondary-950: 280 92% 95%;
      
      --accent-50: 291 100% 5%;
      --accent-100: 292 100% 10%;
      --accent-200: 292 100% 20%;
      --accent-300: 292 100% 30%;
      --accent-400: 292 100% 40%;
      --accent-500: 292 100% 50%;
      --accent-600: 292 100% 60%;
      --accent-700: 292 100% 70%;
      --accent-800: 292 100% 80%;
      --accent-900: 292 100% 90%;
      --accent-950: 293 100% 95%;
      
    }
  