    :root {
      --text-50: 145 85% 95%;
      --text-100: 144 88% 90%;
      --text-200: 144 86% 80%;
      --text-300: 144 87% 70%;
      --text-400: 144 87% 60%;
      --text-500: 144 87% 50%;
      --text-600: 144 87% 40%;
      --text-700: 144 87% 30%;
      --text-800: 144 86% 20%;
      --text-900: 144 88% 10%;
      --text-950: 145 85% 5%;
      
      --background-50: 145 85%  var(--background-25);
      --background-100: 145 84% 90%;
      --background-200: 145 84% 80%;
      --background-300: 145 86% 70%;
      --background-400: 145 85% 60%;
      --background-500: 145 85% 50%;
      --background-600: 145 85% 40%;
      --background-700: 145 86% 30%;
      --background-800: 145 84% 20%;
      --background-900: 145 84% 10%;
      --background-950: 145 85% 5%;
      
      --primary-50: 145 85% 95%;
      --primary-100: 145 84% 90%;
      --primary-200: 145 86% 80%;
      --primary-300: 145 86% 70%;
      --primary-400: 145 86% 60%;
      --primary-500: 145 86% 50%;
      --primary-600: 145 86% 40%;
      --primary-700: 145 86% 30%;
      --primary-800: 145 86% 20%;
      --primary-900: 145 84% 10%;
      --primary-950: 145 85% 5%;
      
      --secondary-50: 143 84% 95%;
      --secondary-100: 145 84% 90%;
      --secondary-200: 145 84% 80%;
      --secondary-300: 145 84% 70%;
      --secondary-400: 145 84% 60%;
      --secondary-500: 145 84% 50%;
      --secondary-600: 145 84% 40%;
      --secondary-700: 145 84% 30%;
      --secondary-800: 145 84% 20%;
      --secondary-900: 145 84% 10%;
      --secondary-950: 146 84% 5%;
      
      --accent-50: 145 85% 95%;
      --accent-100: 145 84% 90%;
      --accent-200: 145 86% 80%;
      --accent-300: 145 86% 70%;
      --accent-400: 145 86% 60%;
      --accent-500: 145 86% 50%;
      --accent-600: 145 86% 40%;
      --accent-700: 145 86% 30%;
      --accent-800: 145 86% 20%;
      --accent-900: 145 84% 10%;
      --accent-950: 145 85% 5%;
      
    }
    .dark {
      --text-50: 145 85% 5%;
      --text-100: 145 88% 10%;
      --text-200: 145 86% 20%;
      --text-300: 145 87% 30%;
      --text-400: 145 87% 40%;
      --text-500: 145 87% 50%;
      --text-600: 145 87% 60%;
      --text-700: 145 87% 70%;
      --text-800: 145 86% 80%;
      --text-900: 145 88% 90%;
      --text-950: 145 85% 95%;
      
      --background-50: 145 85%  var(--background-25);
      --background-100: 145 84% 10%;
      --background-200: 145 84% 20%;
      --background-300: 145 86% 30%;
      --background-400: 145 85% 40%;
      --background-500: 145 85% 50%;
      --background-600: 145 85% 60%;
      --background-700: 145 86% 70%;
      --background-800: 145 84% 80%;
      --background-900: 145 84% 90%;
      --background-950: 145 85% 95%;
      
      --primary-50: 145 85% 5%;
      --primary-100: 145 84% 10%;
      --primary-200: 145 86% 20%;
      --primary-300: 145 86% 30%;
      --primary-400: 145 86% 40%;
      --primary-500: 145 86% 50%;
      --primary-600: 145 86% 60%;
      --primary-700: 145 86% 70%;
      --primary-800: 145 86% 80%;
      --primary-900: 145 84% 90%;
      --primary-950: 145 85% 95%;
      
      --secondary-50: 146 84% 5%;
      --secondary-100: 145 84% 10%;
      --secondary-200: 145 84% 20%;
      --secondary-300: 145 84% 30%;
      --secondary-400: 145 84% 40%;
      --secondary-500: 145 84% 50%;
      --secondary-600: 145 84% 60%;
      --secondary-700: 145 84% 70%;
      --secondary-800: 145 84% 80%;
      --secondary-900: 145 84% 90%;
      --secondary-950: 143 84% 95%;
      
      --accent-50: 145 85% 5%;
      --accent-100: 145 84% 10%;
      --accent-200: 145 86% 20%;
      --accent-300: 145 86% 30%;
      --accent-400: 145 86% 40%;
      --accent-500: 145 86% 50%;
      --accent-600: 145 86% 60%;
      --accent-700: 145 86% 70%;
      --accent-800: 145 86% 80%;
      --accent-900: 145 84% 90%;
      --accent-950: 145 85% 95%;
      
    }
