    :root {
      --text-50: 35 92% 95%;
      --text-100: 34 96% 90%;
      --text-200: 34 96% 80%;
      --text-300: 34 96% 70%;
      --text-400: 34 96% 60%;
      --text-500: 34 96% 50%;
      --text-600: 34 96% 40%;
      --text-700: 34 96% 30%;
      --text-800: 34 96% 20%;
      --text-900: 34 96% 10%;
      --text-950: 33 92% 5%;
      
      --background-50: 0 0%   var(--background-25);
      --background-100: 0 0% 90%;
      --background-200: 0 0% 80%;
      --background-300: 0 0% 70%;
      --background-400: 0 0% 60%;
      --background-500: 0 0% 50%;
      --background-600: 0 0% 40%;
      --background-700: 0 0% 30%;
      --background-800: 0 0% 20%;
      --background-900: 0 0% 10%;
      --background-950: 0 0% 5%;
      
      --primary-50: 34 100% 95%;
      --primary-100: 34 96% 90%;
      --primary-200: 34 96% 80%;
      --primary-300: 34 97% 70%;
      --primary-400: 34 97% 60%;
      --primary-500: 34 97% 50%;
      --primary-600: 34 97% 40%;
      --primary-700: 34 97% 30%;
      --primary-800: 34 96% 20%;
      --primary-900: 34 96% 10%;
      --primary-950: 34 100% 5%;
      
      --secondary-50: 35 92% 95%;
      --secondary-100: 34 96% 90%;
      --secondary-200: 34 96% 80%;
      --secondary-300: 34 96% 70%;
      --secondary-400: 34 96% 60%;
      --secondary-500: 34 96% 50%;
      --secondary-600: 34 96% 40%;
      --secondary-700: 34 96% 30%;
      --secondary-800: 34 96% 20%;
      --secondary-900: 34 96% 10%;
      --secondary-950: 33 92% 5%;
      
      --accent-50: 34 100% 95%;
      --accent-100: 34 96% 90%;
      --accent-200: 34 96% 80%;
      --accent-300: 34 97% 70%;
      --accent-400: 34 97% 60%;
      --accent-500: 34 97% 50%;
      --accent-600: 34 97% 40%;
      --accent-700: 34 97% 30%;
      --accent-800: 34 96% 20%;
      --accent-900: 34 96% 10%;
      --accent-950: 34 100% 5%;
      
    }
    .dark {
      --text-50: 33 92% 5%;
      --text-100: 34 96% 10%;
      --text-200: 34 96% 20%;
      --text-300: 34 96% 30%;
      --text-400: 34 96% 40%;
      --text-500: 34 96% 50%;
      --text-600: 34 96% 60%;
      --text-700: 34 96% 70%;
      --text-800: 34 96% 80%;
      --text-900: 34 96% 90%;
      --text-950: 35 92% 95%;
      
      --background-50: 0 0% 5%;
      --background-100: 0 0% 10%;
      --background-200: 0 0% 20%;
      --background-300: 0 0% 30%;
      --background-400: 0 0% 40%;
      --background-500: 0 0% 50%;
      --background-600: 0 0% 60%;
      --background-700: 0 0% 70%;
      --background-800: 0 0% 80%;
      --background-900: 0 0% 90%;
      --background-950: 0 0% 95%;
      
      --primary-50: 34 100%  var(--background-25);
      --primary-100: 34 96% 10%;
      --primary-200: 34 96% 20%;
      --primary-300: 34 97% 30%;
      --primary-400: 34 97% 40%;
      --primary-500: 34 97% 50%;
      --primary-600: 34 97% 60%;
      --primary-700: 34 97% 70%;
      --primary-800: 34 96% 80%;
      --primary-900: 34 96% 90%;
      --primary-950: 34 100% 95%;
      
      --secondary-50: 33 92% 5%;
      --secondary-100: 34 96% 10%;
      --secondary-200: 34 96% 20%;
      --secondary-300: 34 96% 30%;
      --secondary-400: 34 96% 40%;
      --secondary-500: 34 96% 50%;
      --secondary-600: 34 96% 60%;
      --secondary-700: 34 96% 70%;
      --secondary-800: 34 96% 80%;
      --secondary-900: 34 96% 90%;
      --secondary-950: 35 92% 95%;
      
      --accent-50: 34 100% 5%;
      --accent-100: 34 96% 10%;
      --accent-200: 34 96% 20%;
      --accent-300: 34 97% 30%;
      --accent-400: 34 97% 40%;
      --accent-500: 34 97% 50%;
      --accent-600: 34 97% 60%;
      --accent-700: 34 97% 70%;
      --accent-800: 34 96% 80%;
      --accent-900: 34 96% 90%;
      --accent-950: 34 100% 95%;
      
    }
