    :root {
      --text-50: 144 60% 95%;
      --text-100: 147 61% 90%;
      --text-200: 147 61% 80%;
      --text-300: 147 59% 70%;
      --text-400: 147 60% 60%;
      --text-500: 147 60% 50%;
      --text-600: 147 60% 40%;
      --text-700: 147 59% 30%;
      --text-800: 147 61% 20%;
      --text-900: 147 61% 10%;
      --text-950: 148 60% 5%;
      
      --background-50: 144 60% 95%;
      --background-100: 145 61% 90%;
      --background-200: 145 61% 80%;
      --background-300: 145 59% 70%;
      --background-400: 145 60% 60%;
      --background-500: 145 60% 50%;
      --background-600: 145 60% 40%;
      --background-700: 145 59% 30%;
      --background-800: 145 61% 20%;
      --background-900: 145 61% 10%;
      --background-950: 144 60% 5%;
      
      --primary-50: 176 60% 95%;
      --primary-100: 174 61% 90%;
      --primary-200: 175 59% 80%;
      --primary-300: 175 59% 70%;
      --primary-400: 175 59% 60%;
      --primary-500: 175 59% 50%;
      --primary-600: 175 59% 40%;
      --primary-700: 175 59% 30%;
      --primary-800: 175 59% 20%;
      --primary-900: 174 61% 10%;
      --primary-950: 176 60% 5%;
      
      --secondary-50: 202 62% 95%;
      --secondary-100: 205 61% 90%;
      --secondary-200: 205 61% 80%;
      --secondary-300: 205 61% 70%;
      --secondary-400: 205 61% 60%;
      --secondary-500: 205 61% 50%;
      --secondary-600: 205 61% 40%;
      --secondary-700: 205 61% 30%;
      --secondary-800: 205 61% 20%;
      --secondary-900: 205 61% 10%;
      --secondary-950: 206 62% 5%;
      
      --accent-50: 204 60% 95%;
      --accent-100: 205 61% 90%;
      --accent-200: 205 59% 80%;
      --accent-300: 205 59% 70%;
      --accent-400: 205 59% 60%;
      --accent-500: 205 59% 50%;
      --accent-600: 205 59% 40%;
      --accent-700: 205 59% 30%;
      --accent-800: 205 59% 20%;
      --accent-900: 205 61% 10%;
      --accent-950: 204 60% 5%;
      
    }
    .dark {
      --text-50: 148 60% 5%;
      --text-100: 147 61% 10%;
      --text-200: 147 61% 20%;
      --text-300: 147 59% 30%;
      --text-400: 147 60% 40%;
      --text-500: 147 60% 50%;
      --text-600: 147 60% 60%;
      --text-700: 147 59% 70%;
      --text-800: 147 61% 80%;
      --text-900: 147 61% 90%;
      --text-950: 144 60% 95%;
      
      --background-50: 144 60% 5%;
      --background-100: 145 61% 10%;
      --background-200: 145 61% 20%;
      --background-300: 145 59% 30%;
      --background-400: 145 60% 40%;
      --background-500: 145 60% 50%;
      --background-600: 145 60% 60%;
      --background-700: 145 59% 70%;
      --background-800: 145 61% 80%;
      --background-900: 145 61% 90%;
      --background-950: 144 60% 95%;
      
      --primary-50: 176 60% 5%;
      --primary-100: 174 61% 10%;
      --primary-200: 175 59% 20%;
      --primary-300: 175 59% 30%;
      --primary-400: 175 59% 40%;
      --primary-500: 175 59% 50%;
      --primary-600: 175 59% 60%;
      --primary-700: 175 59% 70%;
      --primary-800: 175 59% 80%;
      --primary-900: 174 61% 90%;
      --primary-950: 176 60% 95%;
      
      --secondary-50: 206 62% 5%;
      --secondary-100: 205 61% 10%;
      --secondary-200: 205 61% 20%;
      --secondary-300: 205 61% 30%;
      --secondary-400: 205 61% 40%;
      --secondary-500: 205 61% 50%;
      --secondary-600: 205 61% 60%;
      --secondary-700: 205 61% 70%;
      --secondary-800: 205 61% 80%;
      --secondary-900: 205 61% 90%;
      --secondary-950: 202 62% 95%;
      
      --accent-50: 204 60% 5%;
      --accent-100: 205 61% 10%;
      --accent-200: 205 59% 20%;
      --accent-300: 205 59% 30%;
      --accent-400: 205 59% 40%;
      --accent-500: 205 59% 50%;
      --accent-600: 205 59% 60%;
      --accent-700: 205 59% 70%;
      --accent-800: 205 59% 80%;
      --accent-900: 205 61% 90%;
      --accent-950: 204 60% 95%;
      
    }
  