    :root {
      --text-50: 325 68% 95%;
      --text-100: 325 65% 90%;
      --text-200: 325 65% 80%;
      --text-300: 325 65% 70%;
      --text-400: 325 65% 60%;
      --text-500: 325 65% 50%;
      --text-600: 325 65% 40%;
      --text-700: 325 65% 30%;
      --text-800: 325 65% 20%;
      --text-900: 325 65% 10%;
      --text-950: 325 68% 5%;
      
      --background-50: 326 62%  var(--background-25);
      --background-100: 327 61% 90%;
      --background-200: 328 63% 80%;
      --background-300: 328 62% 70%;
      --background-400: 328 62% 60%;
      --background-500: 328 62% 50%;
      --background-600: 328 62% 40%;
      --background-700: 328 62% 30%;
      --background-800: 328 63% 20%;
      --background-900: 327 61% 10%;
      --background-950: 330 62% 5%;
      
      --primary-50: 326 62% 95%;
      --primary-100: 327 65% 90%;
      --primary-200: 327 65% 80%;
      --primary-300: 327 63% 70%;
      --primary-400: 327 64% 60%;
      --primary-500: 327 64% 50%;
      --primary-600: 327 64% 40%;
      --primary-700: 327 63% 30%;
      --primary-800: 327 65% 20%;
      --primary-900: 327 65% 10%;
      --primary-950: 326 62% 5%;
      
      --secondary-50: 328 68% 95%;
      --secondary-100: 327 65% 90%;
      --secondary-200: 327 65% 80%;
      --secondary-300: 327 65% 70%;
      --secondary-400: 327 65% 60%;
      --secondary-500: 327 65% 50%;
      --secondary-600: 327 65% 40%;
      --secondary-700: 327 65% 30%;
      --secondary-800: 327 65% 20%;
      --secondary-900: 327 65% 10%;
      --secondary-950: 325 68% 5%;
      
      --accent-50: 326 62% 95%;
      --accent-100: 327 65% 90%;
      --accent-200: 327 65% 80%;
      --accent-300: 327 63% 70%;
      --accent-400: 327 64% 60%;
      --accent-500: 327 64% 50%;
      --accent-600: 327 64% 40%;
      --accent-700: 327 63% 30%;
      --accent-800: 327 65% 20%;
      --accent-900: 327 65% 10%;
      --accent-950: 326 62% 5%;
      
    }
    .dark {
      --text-50: 267 36% 5%;
    --text-100: 268 33% 10%;
    --text-200: 267 35% 20%;
    --text-300: 267 35% 30%;
    --text-400: 267 35% 40%;
    --text-500: 267 35% 50%;
    --text-600: 267 35% 60%;
    --text-700: 267 35% 70%;
    --text-800: 267 35% 80%;
    --text-900: 268 33% 90%;
    --text-950: 267 36% 95%;
    
    --background-50: 273 36% var(--background-25);
    --background-100: 272 33% 10%;
    --background-200: 273 35% 20%;
    --background-300: 273 35% 30%;
    --background-400: 273 35% 40%;
    --background-500: 273 35% 50%;
    --background-600: 273 35% 60%;
    --background-700: 273 35% 70%;
    --background-800: 273 35% 80%;
    --background-900: 272 33% 90%;
    --background-950: 273 36% 95%;
    
    --primary-50: 273 36% 5%;
    --primary-100: 268 37% 10%;
    --primary-200: 270 35% 20%;
    --primary-300: 269 36% 30%;
    --primary-400: 270 36% 40%;
    --primary-500: 270 36% 50%;
    --primary-600: 270 36% 60%;
    --primary-700: 269 36% 70%;
    --primary-800: 270 35% 80%;
    --primary-900: 272 37% 90%;
    --primary-950: 267 36% 95%;
    
    --secondary-50: 273 36% 5%;
    --secondary-100: 268 37% 10%;
    --secondary-200: 270 37% 20%;
    --secondary-300: 269 37% 30%;
    --secondary-400: 270 37% 40%;
    --secondary-500: 270 37% 50%;
    --secondary-600: 270 37% 60%;
    --secondary-700: 269 37% 70%;
    --secondary-800: 270 37% 80%;
    --secondary-900: 272 37% 90%;
    --secondary-950: 267 36% 95%;
    
    --accent-50: 273 36% 5%;
    --accent-100: 268 37% 10%;
    --accent-200: 270 35% 20%;
    --accent-300: 269 36% 30%;
    --accent-400: 270 36% 40%;
    --accent-500: 270 36% 50%;
    --accent-600: 270 36% 60%;
    --accent-700: 269 36% 70%;
    --accent-800: 270 35% 80%;
    --accent-900: 272 37% 90%;
    --accent-950: 267 36% 95%;
    }
