  :root {
    --text-50: 240 28% 95%;
    --text-100: 240 25% 90%;
    --text-200: 240 25% 80%;
    --text-300: 240 25% 70%;
    --text-400: 240 26% 60%;
    --text-500: 240 26% 50%;
    --text-600: 240 26% 40%;
    --text-700: 240 25% 30%;
    --text-800: 240 25% 20%;
    --text-900: 240 25% 10%;
    --text-950: 240 28% 5%;

    --background-50: 240 20% 95%;
    --background-100: 240 22% 90%;
    --background-200: 240 20% 80%;
    --background-300: 240 20% 70%;
    --background-400: 240 20% 60%;
    --background-500: 240 20% 50%;
    --background-600: 240 20% 40%;
    --background-700: 240 20% 30%;
    --background-800: 240 20% 20%;
    --background-900: 240 22% 10%;
    --background-950: 240 20% 5%;

    --primary-50: 240 28% 95%;
    --primary-100: 240 25% 90%;
    --primary-200: 240 25% 80%;
    --primary-300: 240 25% 70%;
    --primary-400: 241 26% 60%;
    --primary-500: 241 26% 50%;
    --primary-600: 241 26% 40%;
    --primary-700: 240 25% 30%;
    --primary-800: 240 25% 20%;
    --primary-900: 240 25% 10%;
    --primary-950: 249 28% 5%;

    --secondary-50: 240 28% 95%;
    --secondary-100: 240 25% 90%;
    --secondary-200: 240 25% 80%;
    --secondary-300: 240 25% 70%;
    --secondary-400: 240 26% 60%;
    --secondary-500: 240 26% 50%;
    --secondary-600: 240 26% 40%;
    --secondary-700: 240 25% 30%;
    --secondary-800: 240 25% 20%;
    --secondary-900: 240 25% 10%;
    --secondary-950: 240 28% 5%;

    --accent-50: 240 28% 95%;
    --accent-100: 240 25% 90%;
    --accent-200: 240 25% 80%;
    --accent-300: 240 25% 70%;
    --accent-400: 241 26% 60%;
    --accent-500: 241 26% 50%;
    --accent-600: 241 26% 40%;
    --accent-700: 240 25% 30%;
    --accent-800: 240 25% 20%;
    --accent-900: 240 25% 10%;
    --accent-950: 249 28% 5%;
  }
  .dark {
    --text-50: 240 28% 5%;
    --text-100: 240 25% 10%;
    --text-200: 240 25% 20%;
    --text-300: 240 25% 30%;
    --text-400: 240 26% 40%;
    --text-500: 240 26% 50%;
    --text-600: 240 26% 60%;
    --text-700: 240 25% 70%;
    --text-800: 240 25% 80%;
    --text-900: 240 25% 90%;
    --text-950: 240 28% 95%;

    --background-50: 240 20% 5%;
    --background-100: 240 22% 10%;
    --background-200: 240 20% 20%;
    --background-300: 240 20% 30%;
    --background-400: 240 20% 40%;
    --background-500: 240 20% 50%;
    --background-600: 240 20% 60%;
    --background-700: 240 20% 70%;
    --background-800: 240 20% 80%;
    --background-900: 240 22% 90%;
    --background-950: 240 20% 95%;

    --primary-50: 249 28% 5%;
    --primary-100: 240 25% 10%;
    --primary-200: 240 25% 20%;
    --primary-300: 240 25% 30%;
    --primary-400: 241 26% 40%;
    --primary-500: 241 26% 50%;
    --primary-600: 241 26% 60%;
    --primary-700: 240 25% 70%;
    --primary-800: 240 25% 80%;
    --primary-900: 240 25% 90%;
    --primary-950: 240 28% 95%;

    --secondary-50: 240 28% 5%;
    --secondary-100: 240 25% 10%;
    --secondary-200: 240 25% 20%;
    --secondary-300: 240 25% 30%;
    --secondary-400: 240 26% 40%;
    --secondary-500: 240 26% 50%;
    --secondary-600: 240 26% 60%;
    --secondary-700: 240 25% 70%;
    --secondary-800: 240 25% 80%;
    --secondary-900: 240 25% 90%;
    --secondary-950: 240 28% 95%;

    --accent-50: 249 28% 5%;
    --accent-100: 240 25% 10%;
    --accent-200: 240 25% 20%;
    --accent-300: 240 25% 30%;
    --accent-400: 241 26% 40%;
    --accent-500: 241 26% 50%;
    --accent-600: 241 26% 60%;
    --accent-700: 240 25% 70%;
    --accent-800: 240 25% 80%;
    --accent-900: 240 25% 90%;
    --accent-950: 240 28% 95%;
  }
