    :root {
      --text-50: 222 92% 95%;
      --text-100: 222 92% 90%;
      --text-200: 222 92% 80%;
      --text-300: 222 92% 70%;
      --text-400: 222 92% 60%;
      --text-500: 222 92% 50%;
      --text-600: 222 92% 40%;
      --text-700: 222 92% 30%;
      --text-800: 222 92% 20%;
      --text-900: 222 92% 10%;
      --text-950: 222 92% 5%;
      
      --background-50: 222 92%  var(--background-25);
      --background-100: 223 92% 90%;
      --background-200: 223 92% 80%;
      --background-300: 223 93% 70%;
      --background-400: 223 93% 60%;
      --background-500: 223 93% 50%;
      --background-600: 223 93% 40%;
      --background-700: 223 93% 30%;
      --background-800: 223 92% 20%;
      --background-900: 223 92% 10%;
      --background-950: 223 92% 5%;
      
      --primary-50: 42 92% 95%;
      --primary-100: 42 92% 90%;
      --primary-200: 42 92% 80%;
      --primary-300: 42 92% 70%;
      --primary-400: 42 92% 60%;
      --primary-500: 42 92% 50%;
      --primary-600: 42 92% 40%;
      --primary-700: 42 92% 30%;
      --primary-800: 42 92% 20%;
      --primary-900: 42 92% 10%;
      --primary-950: 42 92% 5%;
      
      --secondary-50: 73 92% 95%;
      --secondary-100: 71 92% 90%;
      --secondary-200: 72 92% 80%;
      --secondary-300: 72 92% 70%;
      --secondary-400: 72 92% 60%;
      --secondary-500: 72 92% 50%;
      --secondary-600: 72 92% 40%;
      --secondary-700: 72 92% 30%;
      --secondary-800: 72 92% 20%;
      --secondary-900: 71 92% 10%;
      --secondary-950: 70 92% 5%;
      
      --accent-50: 10 92% 95%;
      --accent-100: 11 92% 90%;
      --accent-200: 12 92% 80%;
      --accent-300: 12 92% 70%;
      --accent-400: 12 92% 60%;
      --accent-500: 12 92% 50%;
      --accent-600: 12 92% 40%;
      --accent-700: 12 92% 30%;
      --accent-800: 12 92% 20%;
      --accent-900: 11 92% 10%;
      --accent-950: 13 92% 5%;
      
    }
    .dark {
      --text-50: 222 92% 5%;
      --text-100: 222 92% 10%;
      --text-200: 222 92% 20%;
      --text-300: 222 92% 30%;
      --text-400: 222 92% 40%;
      --text-500: 222 92% 50%;
      --text-600: 222 92% 60%;
      --text-700: 222 92% 70%;
      --text-800: 222 92% 80%;
      --text-900: 222 92% 90%;
      --text-950: 222 92% 95%;
      
      --background-50: 223 92%  var(--background-25);
      --background-100: 223 92% 10%;
      --background-200: 223 94% 20%;
      --background-300: 223 93% 30%;
      --background-400: 223 94% 40%;
      --background-500: 223 94% 50%;
      --background-600: 223 94% 60%;
      --background-700: 223 93% 70%;
      --background-800: 223 94% 80%;
      --background-900: 223 92% 90%;
      --background-950: 222 92% 95%;
      
      --primary-50: 42 92% 5%;
      --primary-100: 42 92% 10%;
      --primary-200: 42 92% 20%;
      --primary-300: 42 92% 30%;
      --primary-400: 42 92% 40%;
      --primary-500: 42 92% 50%;
      --primary-600: 42 92% 60%;
      --primary-700: 42 92% 70%;
      --primary-800: 42 92% 80%;
      --primary-900: 42 92% 90%;
      --primary-950: 42 92% 95%;
      
      --secondary-50: 70 92% 5%;
      --secondary-100: 71 92% 10%;
      --secondary-200: 72 92% 20%;
      --secondary-300: 72 92% 30%;
      --secondary-400: 72 92% 40%;
      --secondary-500: 72 92% 50%;
      --secondary-600: 72 92% 60%;
      --secondary-700: 72 92% 70%;
      --secondary-800: 72 92% 80%;
      --secondary-900: 71 92% 90%;
      --secondary-950: 73 92% 95%;
      
      --accent-50: 13 92% 5%;
      --accent-100: 11 92% 10%;
      --accent-200: 12 92% 20%;
      --accent-300: 12 92% 30%;
      --accent-400: 12 92% 40%;
      --accent-500: 12 92% 50%;
      --accent-600: 12 92% 60%;
      --accent-700: 12 92% 70%;
      --accent-800: 12 92% 80%;
      --accent-900: 11 92% 90%;
      --accent-950: 10 92% 95%;
      
    }
  