    :root {
      --text-50: 0 0% 95%;
      --text-100: 0 0% 90%;
      --text-200: 0 0% 80%;
      --text-300: 0 0% 70%;
      --text-400: 0 0% 60%;
      --text-500: 0 0% 50%;
      --text-600: 0 0% 40%;
      --text-700: 0 0% 30%;
      --text-800: 0 0% 20%;
      --text-900: 0 0% 10%;
      --text-950: 0 0% 5%;
      
      --background-50: 168 100%  var(--background-25);
      --background-100: 168 100% 90%;
      --background-200: 168 100% 80%;
      --background-300: 168 100% 70%;
      --background-400: 168 100% 60%;
      --background-500: 168 100% 50%;
      --background-600: 168 100% 40%;
      --background-700: 168 100% 30%;
      --background-800: 168 100% 20%;
      --background-900: 168 100% 10%;
      --background-950: 166 100% 5%;
      
      --primary-50: 197 100% 95%;
      --primary-100: 196 96% 90%;
      --primary-200: 196 96% 80%;
      --primary-300: 196 97% 70%;
      --primary-400: 196 97% 60%;
      --primary-500: 196 97% 50%;
      --primary-600: 196 97% 40%;
      --primary-700: 196 97% 30%;
      --primary-800: 196 96% 20%;
      --primary-900: 196 96% 10%;
      --primary-950: 194 100% 5%;
      
      --secondary-50: 346 100% 95%;
      --secondary-100: 347 96% 90%;
      --secondary-200: 346 96% 80%;
      --secondary-300: 346 97% 70%;
      --secondary-400: 346 97% 60%;
      --secondary-500: 346 97% 50%;
      --secondary-600: 346 97% 40%;
      --secondary-700: 346 97% 30%;
      --secondary-800: 346 96% 20%;
      --secondary-900: 347 96% 10%;
      --secondary-950: 346 100% 5%;
      
      --accent-50: 14 100% 95%;
      --accent-100: 16 96% 90%;
      --accent-200: 16 96% 80%;
      --accent-300: 16 97% 70%;
      --accent-400: 16 97% 60%;
      --accent-500: 16 97% 50%;
      --accent-600: 16 97% 40%;
      --accent-700: 16 97% 30%;
      --accent-800: 16 96% 20%;
      --accent-900: 16 96% 10%;
      --accent-950: 17 100% 5%;
      
    }
    .dark {
      --text-50: 0 0% 5%;
      --text-100: 0 0% 10%;
      --text-200: 0 0% 20%;
      --text-300: 0 0% 30%;
      --text-400: 0 0% 40%;
      --text-500: 0 0% 50%;
      --text-600: 0 0% 60%;
      --text-700: 0 0% 70%;
      --text-800: 0 0% 80%;
      --text-900: 0 0% 90%;
      --text-950: 0 0% 95%;
      
      --background-50: 166 100%  var(--background-25);
      --background-100: 168 100% 10%;
      --background-200: 168 100% 20%;
      --background-300: 168 100% 30%;
      --background-400: 168 100% 40%;
      --background-500: 168 100% 50%;
      --background-600: 168 100% 60%;
      --background-700: 168 100% 70%;
      --background-800: 168 100% 80%;
      --background-900: 168 100% 90%;
      --background-950: 168 100% 95%;
      
      --primary-50: 194 100% 5%;
      --primary-100: 196 96% 10%;
      --primary-200: 196 96% 20%;
      --primary-300: 196 97% 30%;
      --primary-400: 196 97% 40%;
      --primary-500: 196 97% 50%;
      --primary-600: 196 97% 60%;
      --primary-700: 196 97% 70%;
      --primary-800: 196 96% 80%;
      --primary-900: 196 96% 90%;
      --primary-950: 197 100% 95%;
      
      --secondary-50: 346 100% 5%;
      --secondary-100: 347 96% 10%;
      --secondary-200: 346 96% 20%;
      --secondary-300: 346 97% 30%;
      --secondary-400: 346 97% 40%;
      --secondary-500: 346 97% 50%;
      --secondary-600: 346 97% 60%;
      --secondary-700: 346 97% 70%;
      --secondary-800: 346 96% 80%;
      --secondary-900: 347 96% 90%;
      --secondary-950: 346 100% 95%;
      
      --accent-50: 17 100% 5%;
      --accent-100: 16 96% 10%;
      --accent-200: 16 96% 20%;
      --accent-300: 16 97% 30%;
      --accent-400: 16 97% 40%;
      --accent-500: 16 97% 50%;
      --accent-600: 16 97% 60%;
      --accent-700: 16 97% 70%;
      --accent-800: 16 96% 80%;
      --accent-900: 16 96% 90%;
      --accent-950: 14 100% 95%;
      
    }
